

<div class="card bg-dark text-white">
  <img class="card-img" src="..." alt="">
  <div class="card-img-overlay">

    <%= link_to image_tag("ruby_small.jpg", alt: "ruby"),
    'http://facebook.com' %>
  </div>
</div>